<%- include('layout/header'); -%>
<h3>TOP PRODUCT</h3>
<div class="row">
    <% categories.forEach(function(cat){ %>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <a href="/product/<%- cat._id%>">
                    <img src="/image/product/<%- cat.image%>" alt="" style="width:100%">
                    
                </a>
                <h4><%- cat.name%></h4>
                <p class="price">$<%- cat.price%><br/><button>Add to Cart</button></p>
            </div>
        </div>
    <% }); %>
</div>
<h3>MORE PRODUCT</h3>
<div class="row">
    <% categories.forEach(function(cat){ %>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img src="/image/product/<%- cat.image%>" alt="" style="width:100%">
                <h4><%- cat.name%></h4>
                <p class="price">$<%- cat.price%><br/><button><a href="/cart/<%- cat._id %>">Add to Cart</a></button></p>
            </div>
        </div>
    <% }); %>
</div>
      



<%- include('layout/footer'); -%>