<%- include('layout/header'); -%>

<h3>ALL PRODUCT</h3>
<div class="row">
    <% categories.forEach(function(cat){ %>
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <img src="/image/product/<%- cat.image%>" alt="" style="width:100%">
            <h4><%- cat.name%></h4>
            <p class="price">$<%- cat.price%><br/><button>Add to Cart</button></p>
        </div>
    </div>
    <% }); %>
    <hr>
</div>
<h3>NOVEL</h3>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <img src="/image/product/sakura.png" alt="" style="width:100%">
            <h4>Sakura</h4>
            <p class="price">$19.99<br/><button>Add to Cart</button></p>
        </div>
    </div>
</div>
      

<%- include('layout/footer'); -%>